body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  border-bottom: 1px solid rgba(128, 128, 128, 0.281);
  padding: 28px;
  display: flex;
  align-items: center;
}

.btnHeader {
  margin-left: auto;
  margin-right: 10px;;
}

.twoSections {
  display: flex;
}

.left {
  flex: 2;
}

.leftBar {
  border-right: 1px solid rgba(128, 128, 128, 0.281);
  height: 100vh;
  margin-right: 2em;
}

.right {
  flex: 7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
